body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    /*  */
    color: #0A143A
        /* цвет текста */
}

.container {
    width: 1146px;
    /* максимальная ширина */
    margin: auto;
}

.header {
    /* автоматическое выравнивание по середине */
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 12px;
}

.navbar {
    display: flex;
    /* делаем гибкий блок */
    align-items: center;
    /* выравнивание по вертикали по центру */
    justify-content: space-between;
    /* разбросать элементы по краям */
    margin-bottom: 24px;
}

/* меню в шапке */
.navbar-menu {
    margin-right: auto;
    /* автоматический отступ справа */
}

.menu {
    list-style: none;
    /* отключаем точки */
    margin: 0;
    /* обнуляем отступы */
    padding-left: 22px;
    /* внутренний отступ слева */
    padding-right: 22px;
    /* внутренний отступ справа */
    display: flex;

}

/* для всех пунктов кроме последнего */
.menu-item:not(:last-child) {
    margin-right: 14px;
    /* отступ справа 14 пикселей     */
}

.menu-link {
    text-decoration: none;
    /* отключаем подчеркивание  */
    color: inherit;
    /* возьми цвет текста как у родителя(body) */
}

.button {
    text-decoration: none;
    display: inline-block;
    padding: 10px 15px;
    /* сверху снизу 10 слева справа 15 */
    cursor: pointer;
}

.button-link {
    color: inherit;
}

.button-primary {
    background-color: #256EEB;
    /* фон */
    border-radius: 5px;
    /* скругление углов */
    color: white
}

.search-panel {
    height: 50px;
    /* высота  */
    background-color: #256EEB;
    border-radius: 5px;
    display: flex;
    padding: 3px;
}

.search-input {
    flex-grow: 1;
    /* расстягиваем на все свободное место */
    background-color: #FFFFFF;
    border-radius: 5px;
    border: none;
    /* убираем обводку */
    padding-left: 22px;
    padding-right: 22px;
}

.search-button {
    background-color: #256EEB;
    border: none;
    color: white;
    padding-right: 17px;
    padding-left: 20px;
    display: flex;
    align-items: center;
}

.search-button-text {
    margin-left: 5px;
}

.page-content {
    display: grid;
    /* разделение по колонкам */
    grid-template-columns: 9fr 3fr;
    /* первая колонка занимает 9 колонок , а вторая 3 */
    grid-column-gap: 30px;
    /* делаем расстояние между ними 30px */
}

.card-image {
    border-radius: 10px;
    width: 264px;
    height: 178px;
    object-fit: cover;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    /* если карточка не помещается,чтоб она переносилась на след строчку */
}

.card {
    margin-bottom: 20px;
    max-width: 264px;
}

.card:not(:nth-child(3n)) {
    margin-right: 20px;
    /* у каждой карточки справа отступ 25px кроме каждой третьей */
}

.card-title {
    font-size: 16px;
    line-height: 19px;
    color: #256EEB;
    margin-top: 12px;
    margin-bottom: 5px;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.like {
    background-color: #FFF;
    border: none;
    cursor: pointer;
    margin-left: 15px;
}

.card-link {
    text-decoration: none;
}

.card-price {
    font-size: 16px;
    line-height: 19px;
    margin-right: 10px;
    display: block;
}

.card-text {
    font-size: 14px;
    line-height: 16px;
    color: #c4c4c4;
    margin-bottom: 4px;
    margin-top: 0;
}

.sidebar .page-title {
    font-size: 18px;
    line-height: 21px;
}

.service {
    margin-bottom: 25px;
}

.service-title {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    margin-top: 7px;
    margin-bottom: 5px;
}

.service-text {
    font-size: 14px;
    line-height: 16px;
    max-width: 217px;

}

.footer-text {
    display: inline-block;
    font-size: 14px;
    line-height: 16px;
    color: #c4c4c4;
    margin-bottom: 5px;
}

.footer-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    /* убираем точки */
    margin-bottom: 16px;
}

.footer-link {
    color: inherit;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 5px;
}