body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    /*  */
    color: #0A143A
        /* цвет текста */
}

.header {
    width: 1146px;
    /* максимальная ширина */
    margin: auto;
    /* автоматическое выравнивание по середине */
    padding-top: 30px;
}

.navbar {
    display: flex;
    /* делаем гибкий блок */
    align-items: center;
    /* выравнивание по вертикали по центру */
    justify-content: space-between;
    /* разбросать элементы по краям */
    margin-bottom: 24px;
}

/* меню в шапке */
.navbar-menu {
    margin-right: auto;
    /* автоматический отступ справа */
}

.menu {
    list-style: none;
    /* отключаем точки */
    margin: 0;
    /* обнуляем отступы */
    padding-left: 22px;
    /* внутренний отступ слева */
    padding-right: 22px;
    /* внутренний отступ справа */
    display: flex;

}

/* для всех пунктов кроме последнего */
.menu-item:not(:last-child) {
    margin-right: 14px;
    /* отступ справа 14 пикселей     */
}

.menu-link {
    text-decoration: none;
    /* отключаем подчеркивание  */
    color: inherit;
    /* возьми цвет текста как у родителя(body) */
}

.button {
    text-decoration: none;
    display: inline-block;
    padding: 10px 15px;
    /* сверху снизу 10 слева справа 15 */
    cursor: pointer;
}

.button-link {
    color: inherit;
}

.button-primary {
    background-color: #256EEB;
    /* фон */
    border-radius: 5px;
    /* скругление углов */
    color: white
}

.search-panel {
    height: 50px;
    /* высота  */
    background-color: #256EEB;
    border-radius: 5px;
    display: flex;
    padding: 3px;
}

.search-input {
    flex-grow: 1;
    /* расстягиваем на все свободное место */
    background-color: #FFFFFF;
    border-radius: 5px;
    border: none;
    /* убираем обводку */
    padding-left: 22px;
    padding-right: 22px;
}

.search-button {
    background-color: #256EEB;
    border: none;
    color: white;
    padding-right: 17px;
    padding-left: 20px;
    display: flex;
    align-items: center;
}

.search-button-text {
    margin-left: 5px;
}